*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: rgba(128, 58, 84, 0.438);
}

.bod {
    position: relative;
    top: 50px;
    left: 0%;
    width: 100%;
    height: auto;

}

.carbg {
    width: 100%;
    height: 610px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(226, 115, 115), yellow, cyan);
}

.car {
    width: 350px;
    height: 200px;
    background: red;
    top: 120px;
    left: 200px;
    border-radius: 20px 100px 20px 10px;
    box-shadow: 10px 10px black;
    position: absolute;
    animation: car 4s linear infinite;
}

.mirror {
    width: 30px;
    height: 30px;
    background: linear-gradient(white, whitesmoke, rgb(211, 211, 211), whitesmoke);
    position: absolute;
    border-radius: 5px;
    top: 35px;
    right: 60px;
}

.mirror::after {
    content: "";
    width: 30px;
    height: 30px;
    background: linear-gradient(white, whitesmoke, rgb(211, 211, 211), whitesmoke);
    position: absolute;
    border-radius: 5px;

    right: 60px;
}

.mirror::before {
    content: "";
    width: 30px;
    height: 30px;
    background: linear-gradient(white, whitesmoke, rgb(211, 211, 211), whitesmoke);
    border-radius: 5px;
    position: absolute;
    left: -120px;
}

.mirror2 {
    position: absolute;
    left: 80px;
    top: 35px;
    width: 30px;
    height: 30px;
    background: linear-gradient(white, rgb(211, 211, 211), rgb(211, 211, 211), whitesmoke);
    border-radius: 5px;
}

.show {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 15px;
    left: 10px;

}

.show2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 15px;
    left: 10px;

}

.show::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0px;
    right: 60px;
    z-index: 1;

}

.show::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0px;
    right: 120px;
    z-index: 1;
}

.cover {
    width: 80px;
    height: 40px;
    background: white;
    border-radius: 150px 150px 0px 0px;
    position: absolute;
    top: 160px;
    left: 50px;
}

.cover::after {
    content: "";
    width: 80px;
    height: 40px;
    background: white;
    border-radius: 150px 150px 0px 0px;
    position: absolute;

    left: 150px;
}


.tyre-inner {
    width: 50px;
    height: 3px;
    background-color: black;
    position: absolute;

    top: 23px;
}

.tyre-inner::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: black;
    position: absolute;
    transform: rotate(60deg);
    top: -2px;

}

.tyre-inner::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: black;
    position: absolute;
    transform: rotate(120deg);
    top: -2px;

}

.tyre {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    top: 165px;
    left: 60px;
    animation: rotate 3s linear infinite;
}

.tyre2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    top: 165px;
    left: 210px;
    animation: rotate 3s linear infinite;
}

.tyre-inner {
    width: 50px;
    height: 3px;
    background-color: black;
    position: absolute;

    top: 23px;
}

.road {
    width: 100%;
    height: 20px;
    background: black;
    position: relative;
    top: 345px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(370deg);
    }
}

@keyframes car {
    0% {
        transform: translate(-80px);

    }

    100% {
        transform: translate(850px);
    }
}